*.log
Work/
temp/
xclbins/
sim/
packaged/
emulation_data/
emu_qemu_scripts/
_x/
.ipcache/
.run/
.Xil/
xos/
*.bin
*.BIN
*.bif
*.compile_summary
host
launch_hw_emu.sh
libadf.a
*.jou
*.txt
Map_Report/
sol.db
cfg/
output_rtl/
*.wdb
*.wcfg
*.protoinst

!src/host/
!src/host/**